@model List<Years>

<html dir="rtl">
<div class="row pt-4 pb-3">
    <div class="col-6">
        <h2>רשימת שנים</h2>
    </div>
    <div class="col-6 text-start">
        <a asp-controller="Years" asp-action="Create" class="btn btn-primary">
           הוספת שנה <i class="bi bi-plus-circle"></i>
        </a>
    </div>


</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            שנה
        </th>
    </tr>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Year
                </td>
                <td>
                    <div class="w-25 btn-group" role="group">
                        <a asp-controller="" asp-action=""
                       class="btn btn-primary mx-2">
                            עריכת שנה <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                    <div class="w-25 btn-group text-start" role="group">
                        <a asp-controller="Years" asp-action="Delete" asp-route-id="@obj.YearNum"
                       class="btn btn-danger mx-2">
                            מחיקת שנה <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</html>