@model CalculateGrades.ViewModels.CourseYearViewModel


<html dir="rtl">
<form asp-controller="Course" asp-action="Upsert" method="post">
 <input asp-for="CourseName.CourseNum" hidden/>


    <div class="mb-3">
        <label asp-for="CourseName.CourseName" class="text-primary" style="font-size:x-large"></label>
        <input asp-for="CourseName.CourseName" class="form-control" />
        <span asp-validation-for="CourseName.CourseName" class="text-danger"></span>
    </div>
  
  

    <div class="col-12">
        <button type="submit" class="btn btn-primary" style="width:150px">שנה</button>
    </div>

</form>
</html>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
