@model CalculateGrades.ViewModels.CourseYearViewModel

<form method="post" asp-action="Upsert">
    <input asp-for="CourseName.CourseNum" hidden />
    <div class="mb-3">
        <label asp-for="CourseName.CourseName"></label>
        <input asp-for="CourseName.CourseName" class="form-control" />
        <span asp-validation-for="CourseName.CourseName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="YearNum"></label>
        <input asp-for="YearNum" class="form-control" />
        <span asp-validation-for="YearNum" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
    </div>
</form>
@section Scripts{
    <script src="~/js/course.js"></script>
}
